#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.card {
  grid-template-columns: 100px 1fr 2fr;
  box-shadow: 0 5px 15px -3px hsl(180, 29%, 50%);
}
.filterDiv {
  box-shadow: 0 4px 30px -3px hsl(180, 29%, 50%);
}

.ruler {
  display: none;
}

.filterButtons {
  margin-top: 5px;
}

.mobileTop {
  display: none;
}
@media screen and (max-width: 1140px) {
  .card {
    grid-template-columns: 100px 2fr 1fr;
  }
}

@media screen and (max-width: 1060px) {
  .card {
    grid-template-columns: 100px 2fr 1fr;
  }

  .thirdGrid {
    display: grid;
    grid-template-rows: auto auto auto auto;
    margin-top: 0;
  }
  .thirdGridSpan {
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 862px) {
  .card {
    grid-template-columns: 100px 1fr;
    padding-top: 15px;
    /* margin: 28px 140px; */
  }
  .mainApp {
    margin: 28px 140px;
  }
  .thirdGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: start;
    margin-top: 5px;
    margin-left: 90px;
  }
  .thirdGrid span {
    margin-top: 10px;
  }

  .ruler {
    display: flex;
    margin-top: 15px;
  }
}

@media screen and (max-width: 765px) {
  .jobList {
    margin: 10px 0;
  }
  .mainApp {
    margin: 28px 120px;
  }
}
@media screen and (max-width: 680px) {
  .mainApp {
    margin: 28px 80px;
  }
}
@media screen and (max-width: 600px) {
  .jobList {
    margin: 10px 0;
  }
  .mainApp {
    margin: 28px 40px;
  }
}
@media screen and (max-width: 525px) {
  .jobList {
    margin: 10px 0;
  }
  .mainApp {
    margin: 28px 20px;
  }
}
@media screen and (max-width: 480px) {
  .card {
    display: flow-root;
  }
  .jobList {
    margin-top: 150px;
  }
  .thirdGrid {
    margin-left: 0px;
  }
  .logo {
    margin-bottom: 20px;
  }
  .filterDiv {
    position: absolute;
    top: 120px;
    left: 20px;
    right: 20px;
  }
  .mobileTop {
    display: block;
  }
  .desktopTop {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  .filterDiv {
    position: absolute;
    top: 120px;
    left: 20px;
    right: 20px;
  }
  .jobList {
    margin-top: 165px;
  }
}
@media screen and (max-width: 397px) {
  .filterDiv {
    position: absolute;
    top: 120px;
    left: 20px;
    right: 20px;
  }
  .jobList {
    margin-top: 220px;
  }
}
@media screen and (max-width: 375px) {
  .card {
    display: flow-root;
    padding: 25px;
  }
  .filterDiv {
    position: absolute;
    top: 120px;
    left: 20px;
    right: 20px;
  }
  .jobList {
    margin-top: 230px;
  }
}
